body{
    background: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}


.header {
    margin-bottom: 20px;
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.patient, .blogs {
    flex: 1 1 300px;
    margin: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 10vw;
    cursor: pointer;
    box-shadow:  0px 4px 7px 0px #116289;
    
    
}

.patient{
    background-color: #0f87c4ab;
    border-radius: 20px;
    color: white;
}

.blogs{
    background-color: rgba(7, 221, 7, 0.664);
    border-radius: 20px;
    color: white;
}

